p
{
    color: rgb(0, 255, 213);
    font-family: 'Verdana';
    font-size: 50px;
}
body
{
    background-color: rgb(0, 26, 255);
}
button{
    background-color: rgb(25, 71, 25);
    border: none;
    color: rgb(255,255,255);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
